In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt
from collections import Counter

In [4]:
data = pd.read_csv('movie_bd_v5.csv', encoding = 'utf-8')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
306,tt0899106,18000000,36133014,Love Happens,Aaron Eckhart|Jennifer Aniston|Judy Greer|Mart...,Brandon Camp,Sometimes when you least expect it...,Dr. Burke Ryan is a successful self-help autho...,109,Drama|Romance,Universal Pictures|Stuber Productions|Camp / T...,9/18/2009,5.5,2009
359,tt0458525,150000000,341131793,X-Men Origins: Wolverine,Hugh Jackman|Liev Schreiber|Danny Huston|Lynn ...,Gavin Hood,Witness the Origin.,"After seeking to live a normal life, Logan set...",107,Adventure|Action|Thriller|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,4/28/2009,6.2,2009
806,tt1438176,17000000,24922237,Fright Night,Anton Yelchin|Colin Farrell|Toni Collette|Chri...,Craig Gillespie,You can't run from evil when it lives next door.,A teenager suspects his new neighbour is a vam...,106,Horror|Comedy,Touchstone Pictures,8/18/2011,6.1,2011
1615,tt0368933,40000000,95149435,The Princess Diaries 2: Royal Engagement,Anne Hathaway|Julie Andrews|HÃ©ctor Elizondo|J...,Garry Marshall,It can take a lifetime to find true love; she'...,Mia Thermopolis is now a college graduate and ...,113,Comedy|Drama|Family|Romance,Walt Disney Pictures,8/6/2004,5.9,2004
1838,tt0218967,60000000,124745083,The Family Man,Nicolas Cage|TÃ©a Leoni|Don Cheadle|Saul Rubin...,Brett Ratner,What if you made different choices? What if yo...,"Jack's lavish, fast-paced lifestyle changes on...",125,Comedy|Drama|Romance|Fantasy,Universal Pictures,12/12/2000,6.4,2000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [31]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
from chardet.universaldetector import UniversalDetector
detector = UniversalDetector()
with open('movie_bd_v5.csv', 'rb') as fh:
    for line in fh:
        detector.feed(line)
        if detector.done:
            break
    detector.close()
print(detector.result)
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

{'encoding': 'utf-8', 'confidence': 0.99, 'language': ''}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [32]:
max_budget = data.original_title.get(data.budget == data.budget.max()
                                    ) + '(' + data.imdb_id.get(data.budget == data.budget.max()) + ')'
max_budget
answers['1'] = max_budget.values[0]

ВАРИАНТ 2

In [33]:
max_budget_find = 0
for i in data.budget:
    if i < max_budget_find:
        continue
    else:
        max_budget_find = i
    
max_budget2 = ax_budget = data.original_title.get(data.budget == max_budget_find
                                                 ) + '(' + data.imdb_id.get(data.budget == max_budget_find) + ')'
max_budget2.values[0]

'Pirates of the Caribbean: On Stranger Tides(tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [34]:
max_runtime = data.original_title.get(data.runtime == data.runtime.max()
                                    ) + '(' + data.imdb_id.get(data.runtime == data.runtime.max()) + ')'
answers['2'] = max_runtime.values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [35]:
min_runtime = data.original_title.get(data.runtime == data.runtime.min()
                                    ) + '(' + data.imdb_id.get(data.runtime == data.runtime.min()) + ')'
answers['3'] = min_runtime.values[0]

# 4. Какова средняя длительность фильмов?

In [37]:
mean_runtime = data.runtime.mean()
answers['4'] = mean_runtime

# 5. Каково медианное значение длительности фильмов?

In [38]:
median_runtime = data.runtime.median()
answers['5'] = median_runtime

## 6. Какой самый прибыльный фильм?
## Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [39]:
data['profit'] = data.revenue - data.budget
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1326,tt0395699,56000000,113006880,The Pacifier,Vin Diesel|Lauren Graham|Faith Ford|Chris Pott...,Adam Shankman,Welcome to the infantry.,Disgraced Navy SEAL Shane Wolfe is handed a ne...,95,Action|Comedy|Drama|Family|Thriller,Walt Disney Pictures|Spyglass Entertainment,3/4/2005,5.8,2005,57006880
1166,tt0324133,7800000,22441323,Swimming Pool,Charlotte Rampling|Ludivine Sagnier|Charles Da...,FranÃ§ois Ozon,"On the surface, all is calm.",In the middle of this amusing thriller is a re...,102,Thriller|Crime,France 2 CinÃ©ma|Canal Plus|FidÃ©litÃ© Product...,5/18/2003,6.2,2003,14641323
1379,tt0393162,30000000,76669806,Coach Carter,Samuel L. Jackson|Rob Brown|Robert Ri'chard|Ri...,Thomas Carter,It begins on the street. It ends here.,"Based on a true story, in which Richmond High ...",136,Drama,Paramount Pictures|MTV Films|Tollin/Robbins Pr...,1/14/2005,7.3,2005,46669806
513,tt0265666,21000000,71441250,The Royal Tenenbaums,Gene Hackman|Anjelica Huston|Ben Stiller|Gwyne...,Wes Anderson,"Family isnâ€™t a word, itâ€™s a sentence.",An estranged family of former child prodigies ...,110,Comedy|Drama,Touchstone Pictures,10/5/2001,7.3,2001,50441250
1696,tt0431308,30000000,156835339,P.S. I Love You,Hilary Swank|Gerard Butler|Lisa Kudrow|Harry C...,Richard LaGravenese,"His life ended. Now, a new one will begin.",A young widow discovers that her late husband ...,126,Drama|Romance,Wendy Finerman Productions|Alcon Entertainment...,11/15/2007,7.0,2007,126835339

In [40]:
max_profit = data.original_title.get(data.profit == data.profit.max()
                                    ) + '(' + data.imdb_id.get(data.profit == data.profit.max()) + ')'
answers['6'] = max_profit.values[0]

# 7. Какой фильм самый убыточный?

In [41]:
min_profit = data.original_title.get(data.profit == data.profit.min()
                                    ) + '(' + data.imdb_id.get(data.profit == data.profit.min()) + ')'
answers['7'] = min_profit.values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [42]:
profit_plus_df = data[data.profit > 0]
profit_plus = len(profit_plus_df)
profit_plus
answers['8'] = profit_plus

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [44]:
data_release_year = data[data.release_year == 2008]
max_profit_2008 = data_release_year.original_title.get(data_release_year.profit == data_release_year.profit.max()
                                    ) + '(' + data_release_year.imdb_id.get(
                                    data_release_year.profit == data_release_year.profit.max()) + ')'
answers['9'] = max_profit_2008.values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [45]:
data_release_year = data[data.release_year.isin([2012, 2013, 2014])]
min_profit_12_14 = data_release_year.original_title.get(data_release_year.profit == data_release_year.profit.min()
                                    ) + '(' + data_release_year.imdb_id.get(
                                    data_release_year.profit == data_release_year.profit.min()) + ')'
answers['10'] = min_profit_12_14.values[0]

# 11. Какого жанра фильмов больше всего?

In [46]:
data_genres = data.copy()
data_genres.genres = data_genres.genres.str.split('|')
data_genres = data_genres.explode('genres')
genres_max = data_genres.genres.value_counts().sort_values(ascending=False)
answers['11'] = genres_max.index[0]

ВАРИАНТ 2

In [48]:
genres_max_2 = data_genres.groupby('genres').count()['profit'].sort_values(ascending=False)
genres_max_2

genres
Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: profit, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [49]:
genres_profit_df = data_genres[data_genres.profit > 0]
genres_profit = genres_profit_df.genres.value_counts().sort_values(ascending=False)
answers['12'] = genres_profit.index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [51]:
data_director = data.copy()
data_director.director = data_director.director.str.split('|')
data_director = data_director.explode('director')
director_profit = data_director.groupby('director').sum()['profit'].sort_values(ascending=False)
answers['13'] = director_profit.index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [52]:
director_genres_df = data_director[data_director.genres == 'Action']
director_genres = director_genres_df.director.value_counts().sort_values(ascending=False)
answers['14'] = director_genres.index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [56]:
data_acter = data.copy()
data_acter.cast = data_acter.cast.str.split('|')
data_acter = data_acter.explode('cast')
data_acter_2012 = data_acter[data_acter.release_year == 2012]
acter_profit = data_acter_2012.groupby('cast').sum()['profit'].sort_values(ascending=False)
answers['15'] = acter_profit.index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [54]:
expensive_acter_df = data_acter[data_acter.budget > data_acter.budget.mean()]
expensive_acter = expensive_acter_df.cast.value_counts().sort_values(ascending=False)
answers['16'] = expensive_acter.index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [57]:
Nicolas_Cage_df = data_acter.copy()
Nicolas_Cage_df = Nicolas_Cage_df[Nicolas_Cage_df.cast == 'Nicolas Cage']
Nicolas_Cage_df.genres = Nicolas_Cage_df.genres.str.split('|')
Nicolas_Cage_df = Nicolas_Cage_df.explode('genres')
Nicolas_Cage = Nicolas_Cage_df.genres.value_counts().sort_values(ascending=False)
answers['17'] = Nicolas_Cage.index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [58]:
production_companies_df = data.copy()
production_companies_df.production_companies = production_companies_df.production_companies.str.split('|')
production_companies_df = production_companies_df.explode('production_companies')
Paramount_Pictures_df = production_companies_df[production_companies_df.production_companies == 'Paramount Pictures']
Paramount_Pictures_min = Paramount_Pictures_df.original_title.get(Paramount_Pictures_df.profit == Paramount_Pictures_df.profit.min()
                                    ) + '(' + Paramount_Pictures_df.imdb_id.get(
                                    Paramount_Pictures_df.profit == Paramount_Pictures_df.profit.min()) + ')'
answers['18'] = Paramount_Pictures_min.values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [59]:
release_year_revenue_max = data.groupby('release_year').sum()['revenue'].sort_values(ascending=False)
answers['19'] = release_year_revenue_max.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [60]:
Warner_Bros_df = production_companies_df[production_companies_df.production_companies == 'Warner Bros']
Warner_Bros_max = data.groupby('release_year').sum()['profit'].sort_values(ascending=False)
answers['20'] = Warner_Bros_max.index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [61]:
data_month_df = data.copy()
data_month_df.release_date = pd.to_datetime(data_month_df.release_date)
data_month_df['month'] = data_month_df.release_date.dt.month
month_max = data_month_df.month.value_counts().sort_values(ascending=False)
answers['21'] = month_max.index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [62]:
summer_sum = data_month_df.month.value_counts().sort_index()
summer_sum = summer_sum.values[5]+summer_sum.values[6]+summer_sum.values[7]
answers['22'] = summer_sum

# 23. Для какого режиссера зима – самое продуктивное время года?

In [63]:
director_month_df = data_month_df.copy()
director_month_df.director = director_month_df.director.str.split('|')
director_month_df = director_month_df.explode('director')
director_month_df = director_month_df[director_month_df.month.isin([1, 2, 12])]
director_winter = director_month_df.director.value_counts().sort_values(ascending=False)
answers['23'] = director_winter.index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [117]:
production_companies_df['len_original_title'] = production_companies_df.original_title.str.len()
original_title_max = production_companies_df.groupby('production_companies').mean()['len_original_title'].sort_values(ascending=False)
original_title_max
answers['24'] = original_title_max.index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [65]:
production_companies_df_2 = production_companies_df.copy()
production_companies_df_2.overview = production_companies_df_2.overview.str.split()
production_companies_df_2['overview_title'] = production_companies_df_2.overview.str.len()
overview_count_max = production_companies_df_2.groupby('production_companies').mean()['overview_title'].sort_values(ascending=False)
overview_count_max
answers['25'] = overview_count_max.index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [87]:
data_sort = data.vote_average.sort_values(ascending=False)

A = ('Inside Out', 'The Dark Knight', '12 Years a Slave')
count_A = 0
B = ('BloodRayne', 'The Adventures of Rocky & Bullwinkle')
count_B = 0
C = ('Batman Begins', 'The Lord of the Rings: The Return of the King', 'Upside Down')
count_C = 0
D = ('300', 'Lucky Number Slevin', 'Kill Bill: Vol. 1')
count_D = 0
E = ('Upside Down', 'Inside Out', 'Iron Man')
count_E = 0

top_vote = []
for i in data_sort.head(round(max(data.index)*0.01)).index:
    top_vote.append(data.original_title[i])
for i in top_vote:
    if i in B:
        count_B += 1
        if count_B == len(B):
            answers['26'] = B 

    elif i in A:
        count_A += 1
        if count_A == len(A):
            answers['26'] = A

    elif i in C:
        count_C += 1
        if count_C == len(C):
            answers['26'] = C

    elif i in D:
        count_D += 1
        if count_D == len(D):
            answers['26'] = D

    elif i in E:
        count_E += 1
        if count_E == len(E):
            answers['26'] = E

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [173]:
from itertools import combinations
actors_df = data.copy()
actors_df.cast = actors_df.cast.str.split('|')
#actors_df['cast_pair'] = 
for i in actors_df.index:
    actors_df.cast[i] = combinations(actors_df.cast[i], 2)
#actors_df = actors_df.explode('cast')
#actors_df['cast_pair'] = combinations(actors_df.cast, 2)
#actors_df.cast_pair = combinations(actors_df.cast_pair, 2)
actors_df.head()
#list_cast = combinations(actors_df.cast.unique(), 2)
#list_cast

<ipython-input-173-90c576fd6eaf>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  actors_df.cast[i] = combinations(actors_df.cast[i], 2)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
0,tt0369610,150000000,1513528810,Jurassic World,<itertools.combinations object at 0x0000017341...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015,1363528810
1,tt1392190,150000000,378436354,Mad Max: Fury Road,<itertools.combinations object at 0x0000017341...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015,228436354
2,tt2908446,110000000,295238201,Insurgent,<itertools.combinations object at 0x0000017341...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015,185238201
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,<itertools.combinations object at 0x0000017341...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015,1868178225
4,tt2820852,190000000,1506249360,Furious 7,<itertools.combinations object at 0x0000017341...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015,1316249360

# Submission

In [88]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides(tt1298650)',
 '2': 'Gods and Generals(tt0279111)',
 '3': 'Winnie the Pooh(tt1449283)',
 '4': 109.6585494970884,
 '5': 107.0,
 '6': 'Avatar(tt0499549)',
 '7': 'The Lone Ranger(tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight(tt0468569)',
 '10': 'The Lone Ranger(tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Rob Cohen',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker(tt0267626)',
 '19': 2015,
 '20': 2015,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': ('Inside Out', 'The Dark Knight', '12 Years a Slave')}

In [95]:
# и убедиться что ни чего не пропустил)
len(answers)

26